[submodule "yasnippet/ruby-mode"]
	path = yasnippet/ruby-mode
	url = git@github.com:bmaland/yasnippet-ruby-mode.git
[submodule "enh-ruby-mode"]
	path = enh-ruby-mode
	url = git@github.com:bmaland/yasnippet-ruby-mode.git
